**/report/*.pdf
**/report/*.log
**/report/*.out
**/report/*.aux
**/report/*.blg
**/report/*.bbl
**/report/*.synctex.gz

**/sumario/*.pdf
**/sumario/*.log
**/sumario/*.out
**/sumario/*.aux
**/sumario/*.blg
**/sumario/*.bbl
**/sumario/*Notes.bib
**/sumario/*.synctex.gz

*.swp
*~
**/build
**/dist
*.zip
*.~lock.*

