**/report/*.pdf
**/report/*.log
**/report/*.out
**/report/*.aux
**/report/*.blg
**/report/*.bbl
**/report/*.synctex.gz

**/sumario/*.pdf
**/sumario/*.log
**/sumario/*.out
**/sumario/*.aux
**/sumario/*.blg
**/sumario/*.bbl
**/sumario/*Notes.bib
**/sumario/*.synctex.gz

**/proposta/*.pdf
**/proposta/*.log
**/proposta/*.out
**/proposta/*.aux
**/proposta/*.blg
**/proposta/*.bbl
**/proposta/*Notes.bib
**/proposta/*.synctex.gz
*.swp
*~
**/build
**/dist
*.zip
*.~lock.*

